.bounce-enter-active,
.bounce-leave-active {
  transition: 0.5s;
}

.bounce-enter-from,
.bounce-leave-to {
  opacity: 0;
  filter: blur(10px);
  transform: translateY(-100%);
}

.bounce-enter-active {
  position: absolute;
}

.bounce-leave-active {
  position: absolute;
}

/*-----------------------------------------------------------------------------*/

.btn-enter-active,
.btn-leave-active {
  transition: 0.5s;
}


.btn-enter-from,
.btn-leave-to {
  opacity: 0;
  filter: blur(10px);
  transform: scale(0);
}

.btn-enter-active {
  position: absolute;
}

.btn-leave-active {
  position: absolute;
}


/*------------------------------- Text-glow ----------------------------------------------*/

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

%glow {
  animation: glow 2s ease-in-out infinite alternate;
}

/*------------------------------- Box-glow ----------------------------------------------*/

@keyframes box-glow {
  from {
    box-shadow: 0 0 20px #2d9da9;
  }
  to {
    box-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}

%box-glow {
  animation: box-glow 1.5s ease-in-out infinite alternate;
}

/*---------------------------- Radio -------------------------------------------------*/


@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba($neon, 0);
    border-color: rgba($neon, 0);
  }

  50% {
    box-shadow: 0px 0px 0px 15px rgba($neon, 0.1);
  }

  100% {
    box-shadow: 0px 0px 0px 15px rgba($neon, 0);
    border-color: rgba($neon, 1);
  }
}

@keyframes dot {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
