$red: #be3030;
$green: #1cb144;
$yellow: #e2e225;
$blue: #2b2bcb;
$pink: #cf9ca4;
$orange: #b07301;
$purple: #6e016e;
$cream: #d9d095;
$gray: #818181;
$black:#1e1e1e;
$white: #efefef;
$neon: #4db1bc;
